body{
    font-family: -apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background: black;
    font-size: 62.5%;
}
h1{    
    font-size: 6rem;
    font-weight: 100;
}
h4, h5{    
    width: 100%;
}
#searchPanel h4{    
    font-size: 1.5rem;
    font-weight: 300;
}
#searchPanel h5{    
    font-size: 1.2rem;
    font-weight: 300;
    text-align: left;
}
:focus {
    outline:0 !important;
}
footer{
    background-color:black;
    height: 20rem;
    margin-top: 1.1rem;
}
.footer{
    text-align:center;    
    color: white;
    padding-top: 6rem;
    font-weight: 100;
}
.title {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 200;
    padding: 1rem;
    background-color:black;
    color: white;
}
#rightPanel {
    display: inline-block;
}
#current{
    padding: 6rem 1rem;
}
#cityName{
    font-size: 3rem;
}
.detail{
    list-style: none;
    float: left;
    padding-top: 8rem;
}
.date{
    font-size: 18rem;
}
.list-group {
    text-align: center;;
}
.card{
    margin: 5px 0;
}
#searchPanel {
    display: block;
    float: left;
    margin: 4rem 0 3rem 0;
}
ul#cityList {
    list-style: none;
    font-size: 1.1rem;
    padding-left: 0;
    height: 30rem;

}
#city,
ul#cityList li button{
    font-size: 1rem;
    text-align: left;
    border: 1px solid #7d7979;
    padding: .5rem;
    width: 80%;
}
ul#cityList li button:hover,
ul#cityList li button:active:hover,
ul#cityList li button.remove:hover,
ul#cityList li button.remove:active:hover,
#go:hover,
#go:active:hover{
    background-color: #333;
    color: white;
}
#go,
ul#cityList li button.remove{
    width: 20%;
    font-size: 1rem;
    padding: .5rem;
    background-color:rgba(51,51,51,.5);
    border: 1px solid #7d7979;
    border-left: 0;
}
.form-group {
    margin-bottom: 0 !important;
    margin-top: 3.8rem;
}
#error{
    color:red;
    height: 1.2rem;
    margin-bottom: .5rem;
    text-align: left;
}
#errorList{
    color:rgb(87, 101, 230);
    height: 1.2rem;
    margin-bottom: .5rem;
    text-align: left;
}
.detail{
    font-weight: 400;
    font-size: 1.3rem;
    height: 6rem !important;
}
.deg, .hum, .wind, .uv{
    font-size: 1.8rem;
}
.country{
    font-size: 3rem;
}
#curCityData{
    line-height: 1;
    margin: 4rem 2rem 0;
    min-height: 30rem !important;
    width: 100%;
    border: 1px solid transparent;
}
#curCityData span{
    font-size: 3rem;
}
#curCityData h1{
    width: 100%;
    text-align: left;
}
#curCityData h4 {
    font-weight: 100;
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
    height: 2rem;
}
#curCityData ul {
    font-size: 1.2rem;
    font-weight: 100;
}
ul#look{
    width: 45%;
    padding-left: 1.5rem;
}
ul#look > li img{
    width: 10rem;
    height: auto;
    margin-left: 20%;
}
ul#look > li span{
    font-size: 1.8rem;
    margin-left: 2rem;
}
ul#look > li{
    text-align:right;
    display: block;
    list-style: none;
    font-size: 2.5rem;
}
#detail{
    margin-top: 1.3rem;
    float:right;
}
ul#detail > li{
    text-align:left;
    display: block;
    list-style: none;;
}
#curForecast{
    margin-left: 2rem;
    width: 100%;
    margin: auto;
}
#forecastTitle h2{
    font-weight: 300;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 3.5rem;
}
#curForecast ul li{
    list-style:none;
    margin: auto;
}
#curForecast li img{
    width: 6rem;
    height: auto;
}
#curForecast ul{
    padding: 1.5rem;
    margin: 1rem .2rem;
}
.mainF{
    font-size: 1.5rem;
    font-weight: 200;
    padding: .8rem 0;
}
.dayF{
    font-size: 1rem;
    font-weight: 400;
}
.dropbtn {
    background-color:orange;
    color: white;
    font-size:1.3rem;
    border: none;
    position: relative;
    z-index: 2;
    padding: 0 1.5rem 4px;
    
  }
.dropdown {
    position: relative;
    display: inline-block;
    right: 2rem;
    width: 30rem;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 16rem;
    box-shadow: 0 .8rem 1.6rem 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 1.5rem;
}
.dropdown-content a {
    color: black;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: rgb(181, 171, 171);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #333;
}
#weather{
    margin-top: -100vh;
    background: rgba(255,255,255,.7);
    padding: 0 0 1.5rem 0;
    border-radius: 0 0 1rem 1rem;
    overflow: scroll;
    height: 90vh;
}
/******** CAROUSEL *********/
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
    transition-property: opacity;
    height: 100vh;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}
/*----- MAKE CAROUSEL A BACKGROUND --------*/
.slider-block{
	height: 3.5rem;
	display: inline-block;
}
#carousel {
	height: 100%;
}
#carousel .carousel-inner{
	height: 100%;
}
#carousel .item{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
}
.carousel-inner {
    z-index: -100;
    background-size: cover !important;
}
/********** RESPONSIVE ***********/
@media (min-width: 1200px){
.container {
    text-align: center;
    max-width: 140rem;
}
}
@media (max-width: 991px){
#curCityData {
    margin: 1.5rem 1.5rem 10rem;
}
ul#look,
ul#detail {
    width: 100%;
    padding-left: 0;
}
ul#look > li,
ul#detail > li {
    text-align: center;
}
ul#look > li img {
    margin:auto;
}
ul#look > li span{
    margin-left: 0;
}
#forecastTitle h2 {
    margin-left: 0;
}
}
@media (max-width: 768px){
h1{    
    font-size: 4.5rem;
    line-height: 1.8;
}
#curCityData {
    margin: 1rem 1rem 2rem;
}
.dayF {
    font-size: .8rem;
}
#curForecast ul {
    width: 9rem;
    padding: .8rem;
    margin: 0 .3rem .3rem 0;
}
ul#look > li img {
    width: 7rem;
}
#detail {
    margin-top: 0;
}
#curForecast{
    padding-left: 0;
}
#forecastTitle{
    padding-left: 8%;
    font-size: 1rem;
}
.form-group {
    margin-top: 0;
}
#searchPanel h4,
#searchPanel h5 {
    font-size: 1rem;
}
}
@media (max-width: 480px){
h1{    
    font-size: 5rem;
    line-height: 2;
}
#curForecast{
    padding-left: 30%;
}
#forecastTitle{
    font-size: 1.1rem;
    padding-left: 5%;
}
#weatherPanel{
    margin-right: 0;
    padding-right: 0;
}
}
